div.email-list{
    background: #FFDD98;
}

div.full-email{
    background: #6F85AF;
}

i.fa-solid{
    color: white;
}

li.email-list{
    background: #FFF0D3;
}

li.full-email{
    background: #B6C1D7;
}

.card{
    min-width: 250px;
}

.count {
    --bs-btn-font-size: 1em;
    --bs-btn-line-height: 1em;
    --bs-btn-disabled-bg: #FFF0D3;
    color: black;
}

.list-group-item {
   
}

/* .my-col {
    border: 3px solid #18397F;
} */

.my-header {
    background: #18397F;
    color: white;
}

.my-menu {
    width: 250px;
    margin-top: 10px;
    /* padding: 100px; */
    /* background: #DCF2C9; */
    border: none;
}

.new-email{
    background: #F2C8D5;
}

.reply {
    background: #B6C1D7;
    --bs-btn-color: black;
}

.selected {
    /* background: var(--bs-list-group-active-bg); */
    background: #0d6efd;
    color: white;
}

.test {
    /* height: 100%; */
    background: #DCF2C9;
}